<div class="container mt-4">
  <h2>Submitted documents</h2>
  <ng-container *ngIf="submissions$ | async as submissions; else noSubmissions">
    <div *ngIf="submissions.length > 0; else noSubmissions">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name of the student</th>
          <th>Form Code</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let submission of submissions">
          <td>{{ submission.id }}</td>
          <td>Mantale Antonio-Roberto</td>
          <td>{{ submission.formCode }}</td>
          <td>{{ submission.documentStatus }}</td>
          <td>
            <div class="flex-row">
              <button *ngIf="submission.documentStatus === DocumentStatus.SUBMITTED"
                      type="button"
                      class="btn btn-success"
                      (click)="updateStatus(submission, 'APPROVED')">
                <span class="fa fa-check"></span>
                <span class="ml-1">Approve</span>
              </button>
              <button type="button" class="btn btn-primary" (click)="openFormDetails(submission)">
                <span class="fa fa-pencil"></span>
                <span class="ml-1">Details</span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #noSubmissions>
    <p>Nu există Submitted documents</p>
  </ng-template>
</div>
