<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">id</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Action</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let tempSecretary of secretaries">
    <td class="align-middle">{{tempSecretary.id}}</td>
    <td class="align-middle">{{tempSecretary.firstName}}</td>
    <td class="align-middle">{{tempSecretary.lastName}}</td>
    <td>
      <i (click)="deleteSecretary(tempSecretary.id)" class="fa fa-trash"></i>
      &nbsp;
      <a routerLink="updateSecretary/{{tempSecretary.id}}"><i class="fa fa-edit"></i></a>
    </td>
  </tr>
  </tbody>
</table>



