<p>Document template works!</p>

<form name="templateForm" role="form" novalidate #templateForm="ngForm" (ngSubmit)="saveFormTemplate()">
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="code">Code</label>
        <input class="form-control" id="code" #code="ngModel" [(ngModel)]="formTemplate.code" name="code" required>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" #name="ngModel" [(ngModel)]="formTemplate.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" id="description" #description="ngModel" [(ngModel)]="formTemplate.description" name="description" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="form-control-label">Define Form</label>
    <div>
      <form-builder [form]="form"></form-builder>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Save Form Template</button>
</form>
